:root {
  --blue: #2d7ff9;
  --blue-shadow: rgba(45, 127, 249, 0.15);
  --green: #20c933;
  --dark-blue: #151f2b;
}

body {
  font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: var(--dark-blue);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  margin: 0px 0px 20px 0px;
  color: white;
  gap: 20px;
  height: 30px;
  font-style: bold;
  padding: 0px;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#current-project {
  color: var(--blue);
}

.column-content {
  display: flex;
  align-items: center;
  align-content: center;
}

.column {
  width: 200px;
  padding: 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.column:hover {
  border: 1px solid var(--blue-shadow);
}

form input::placeholder {
  color: darkgray;
}

form input {
  padding-left: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: var(--blue);
  /* border: 2px solid var(--blue); */
}

form input:active {
  border: none;
}

form input:focus {
  outline: none !important;
}

.to-do-card {
  min-height: 40px;
  width: 90%;
  border: 2px solid var(--blue);
  border-radius: 5px;
  background-color: var(--blue-shadow);
  display: flex;
  align-items: center;
  /* box-shadow: 1px 1px 1px 1px var(--blue-shadow); */
}

.to-do-card:hover {
  border: 2px solid white;
}

input[type='checkbox'] {
  margin: 10px;
}

.add-task-btn {
  border: none;
  background: none;
  color: var(--dark-blue);
}

.add-task-btn:hover {
  color: var(--blue);
  /* font-weight: bold; */
}

.column-title {
  color: var(--blue);
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
}

#card-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

#card-add-btn {
  border: none;
  width: 30%;
  color: white;
  background-color: var(--blue);
  border-radius: 3px;
  height: 1.3rem;
}

#card-cancel-btn {
  border: none;
  width: 30%;
  border-radius: 3px;
  height: 1.3rem;
  background: none;
  color: var(--blue);
  border: 1.5px solid var(--blue);
}

.column-rows {
  display: flex;
  justify-content: center;
  gap: 0px;
  /* border: 1px solid red; */
}

.add-column-btn {
  display: flex;
  justify-content: center;
  font-size: 0;
  background: transparent;
  border: none !important;
  border-radius: 2px;
}

.add-column-btn:hover {
  width: 1.5rem;
  font-size: 0.8rem;
  color: white;
  background: var(--blue);
}

input[type='checkbox'] {
  width: 1.3rem;
  height: 1.3rem;
  background-color: none;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid white;
  /* var(--blue); */
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

label {
  /* color: var(--blue); */
  color: white;
}

input[type='checkbox']:checked {
  background-color: var(--green);
  border: 2px solid white;
}
